html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.product-card {
    text-align: left;
}

    .product-card img {
        width: 120%;
        height: 220px;
        object-fit: cover;
        border-radius: 6px;
        gap: 30px;
    }

.product-name {
    margin-top: 8px;
    font-weight: 500;
}

.product-price {
    font-weight: bold;
}


.add-to-cart {
    margin-top: 6px;
    padding: 6px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}